body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.task-input {
  display: flex;
  gap: 10px;
}

#task-input {
  flex: 1;
  padding: 8px 15px;
  border-radius: 5px;
  border: solid;
}

#input-btn {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: deepskyblue;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.task-checkbox {
  width: 18px;
  height: 18px;
  accent-color: deepskyblue; /* green tick */
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
  border-radius: 5px;
  margin-right: 10px;
}

.task-checkbox:checked {
  transform: scale(1.2);
  animation: bounce 0.3s ease;
}

.completed-section {
  margin-top: 20px;
}

#toggle-completed {
  background: deepskyblue;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

#toggle-completed:hover {
  background: deepskyblue;
}

.hidden {
  display: none;
}

#completed-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#completed-list li {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  background: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.task-content {
  display: flex;
  flex-direction: column;
}

.task-date {
  font-size: 12px;
  color: gray;
}

.delete-btn {
  background: white;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.delete-btn:hover {
  background: white;
}